
<section class="signup" >
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Enter Email</mat-label>
      <input type="email" matInput placeholder="email" formControlName="email">
      <mat-error *ngIf="myForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="myForm.get('email')?.hasError('pattern')">
        Enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter Password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password">
      <mat-error *ngIf="myForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="myForm.get('password')?.hasError('pattern')">
        Password must be at least 3 characters , contain at least 1 symbol & number.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-error *ngIf="myForm.get('date')?.hasError('required')">
        date is required.
      </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="checkbox" class="example-margin">Check me!</mat-checkbox>
    <button mat-raised-button  [disabled]="myForm.invalid" color="primary" type="submit">Submit</button>
  </form>
</section>
